[submodule "Depends/eigen"]
	path = Dependencies/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "NeuralAmpModelerCore"]
	path = Dependencies/NeuralAmpModelerCore
	url = https://github.com/mikeoliphant/NeuralAmpModelerCore
	branch = devel
[submodule "Dependencies/AudioDSPTools"]
	path = Dependencies/AudioDSPTools
	url = https://github.com/sdatkinson/AudioDSPTools
[submodule "Dependencies/dr_libs"]
	path = Dependencies/dr_libs
	url = https://github.com/mackron/dr_libs
